@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-dark: #000000;
  --color-light: #FFFFFF;
  --color-grey: #808080;
  --border-radius: 55px;
  --border: 1px solid var(--color-dark);
  --font-family-base: "Inter", sans-serif;
  --container-width: 1732px;
  --container-padding-x: 20px;
  --transition-duration: 0.2s;
}

body {
  font-family: var(--font-family-base);
  font-size: 22px;
  line-height: 1.36;
  color: var(--color-dark);
  background-color: var(--color-light);
}

.container {
  max-width: calc(var(--container-width) + (var(--container-padding-x)) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.button, .button-default, .button-filter {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: -0.36px;
  padding: 0;
  background-color: transparent;
  border: none;
}

.button {
  border-bottom: var(--border);
}

.button-default {
  padding: 10px 0 10px 10px;
}

.button-filter {
  font-size: 12px;
  letter-spacing: 1.1px;
  padding: 1px 6px;
  border: var(--border);
  border-radius: 55px;
}

.button-filter:hover {
  background-color: var(--color-grey);
  color: var(--color-light);
  border: 1px solid var(--color-grey);
}

.button-filter-dark, .button-filter:active, .button-filter:focus-visible {
  background-color: var(--color-dark);
  color: var(--color-light);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  text-transform: uppercase;
}

a {
  color: var(--color-dark);
  text-decoration: none;
}

a,
body,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

svg * {
  transition-property: fill, stroke;
}


.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

p:not([class]):not(:last-child) {
  margin-bottom: 24px;
}

.section-header-date {
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin-bottom: 12px;
}

.section-header-text, .section-header-date {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
}

.section-header-text-underline {
  border-bottom: var(--border);
}

.section-heading {
  display: flex;
  align-items: center;
  column-gap: 8px;
  font-size: 20px;
  letter-spacing: -0.36px;
}

.section-heading-hexagon::before {
  content: "";
  width: 18px;
  height: 19px;
  background: currentColor;
  clip-path: polygon(0 28%, 50% 0, 100% 28%, 100% 72%, 50% 100%, 0 72%);
}

.section-heading-circle::before {
  content: "";
  width: 16px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--color-dark);
}

.section-heading-star::before {
  content: "";
  width: 24px;
  height: 24px;
  background-color: currentColor;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.section-heading-triangle::before {
  content: "";
  width: 18px;
  height: 16px;
  background-color: currentColor;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.header {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 30px;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 40px;
  border-bottom: var(--border);
}

.header-logo {
  display: flex;
  align-items: center;
  column-gap: 8px;
  text-transform: uppercase;
}

.header-logo::before {
  content: "";
  width: 25px;
  height: 28px;
  background: currentColor;
  clip-path: polygon(0 28%, 50% 0, 100% 28%, 100% 72%, 50% 100%, 0 72%);
}

.header-menu-list {
  display: flex;
  column-gap: 35px;
  font-size: 16px;
}

.header-menu-link {
  --headerMenuListItemColor: var(--color-dark);
  position: relative;
  display: flex;
  align-items: center;
  height: 68px;
  text-transform: uppercase;
  letter-spacing: -0.3px;
  color: var(--headerMenuListItemColor);
}

.header-menu-link:hover {
  --headerMenuListItemColor: var(--color-grey);
}

.header-menu-link.is-current::after {
  content: "";
  position: absolute;
  bottom: 22px;
  height: 1px;
  width: 100%;
  background-color: var(--headerMenuListItemColor);
}

.header-menu-link.is-current:hover::after {
  --headerMenuListItemColor: var(--color-grey);
}

.header-info {
  display: flex;
  align-items: center;
  column-gap: 8px;
  text-transform: uppercase;
}

.header-info::after {
  content: "";
  width: 26px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--color-dark);
}

.jenny-art {
  margin-bottom: 100px;
}

.jenny-art-body {
  display: flex;
  justify-content: space-between;
  column-gap: 45px;
  max-height: 844px;
  padding-bottom: 38px;
  border-bottom: var(--border);
}

.jenny-art-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.jenny-art-inner {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  font-weight: 500;
}

.jenny-art-header {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.section-tags-wrapper {
  display: flex;
  column-gap: 8px;
}

.section-title {
  --sectionTitleMaxWidth: 380px;
  --sectionTitleFontSize: clamp(18px, 1.25vw, 24px);
  --sectionTitlePaddingBottom: 5px;
  max-width: var(--sectionTitleMaxWidth);
  font-size: var(--sectionTitleFontSize);
  padding-bottom: var(--sectionTitlePaddingBottom);
  border-bottom: var(--border);
}

.section-title-big {
  --sectionTitleMaxWidth: 632px;
  --sectionTitlePaddingBottom: 18px;
  --sectionTitleFontSize: clamp(24px, 4.01vw, 77px);
}

.section-title-popular {
  --sectionTitleMaxWidth: 544px;
  --sectionTitleFontSize: clamp(20px, 1.92vw, 37px);
  --sectionTitlePaddingBottom: 8px;
}

.section-title-latest-posts {
  --sectionTitleMaxWidth: 764px;
  --sectionTitleFontSize: clamp(20px, 1.92vw, 37px);
  --sectionTitlePaddingBottom: 8px;
}

.section-title-hot-stuff {
  --sectionTitleMaxWidth: 200px;
  --sectionTitleFontSize: clamp(14px, 0.98vw, 20px);
}

.section-description {
  --sectionDescriptionMaxWidth: 480px;

  font-size: clamp(12px, 1.14vw, 22px);
  max-width: var(--sectionDescriptionMaxWidth);
}

.latest-posts {
  display: flex;
  flex-direction: column;
  row-gap: 34px;
  margin-bottom: 112px;
}


.latest-posts-category, .latest-posts-title-wrap {
  display: flex;
  justify-content: space-between;
}

.latest-posts-category-left, .latest-posts-category-right {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.latest-posts-category-right {
  column-gap: 0;
}

.latest-posts-category-text-wrap {
  display: flex;
  column-gap: 6px;
}

.latest-posts-content {
  display: grid;
  grid-template-columns: repeat(3, auto);
  column-gap: 40px;
  padding-bottom: 122px;
  border-bottom: var(--border);
}

.latest-posts-list, .latest-posts-list-short {
  display: flex;
  flex-direction: column;
  row-gap: 80px;
}

.latest-posts-list-short {
  row-gap: 64px;
}

.latest-posts-link-img {
  display: block;
  margin-bottom: 18px;
}

.popular {
  display: flex;
  column-gap: 38px;
  margin-bottom: 140px;
}

.popular-content {
  display: flex;
  flex-direction: column;
  row-gap: 36px;
}

.popular-posts-list {
  display: flex;
  column-gap: 40px;
}

.popular-posts-link-img {
  margin-bottom: 24px;
}

.popular-list {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  height: max(400px, 46vh);
  overflow-y: auto;
}

.popular-right-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 38px;
}

.popular-item {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 5px;
}

.jenny-slate {
  background: url("./images/jenny-slate/henrik-book.jpg") no-repeat center/cover;
  margin-bottom: 146px;
}

.jenny-slate-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 778px;
}

.jenny-slate-inner {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.jenny-date {
  padding-top: 46px;
}

.jenny-slate-title {
  --sectionTitleMaxWidth: 514px
}

.jenny-slate-description {
  --sectionDescriptionMaxWidth: 606px;
  padding-bottom: 40px;
}

.hot-stuff-title-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 36px;
}

.hot-stuff-posts-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 60px;
  margin-bottom: 124px;
}

.hot-stuff-posts-img {
  margin-bottom: 22px;
}

.hot-staff-button-tag {
  display: flex;
  margin-bottom: 16px;
}

.container-wide {
  border-block: var(--border);
}

.title-wide {
  font-size: clamp(32px, 5.20vw, 100px);
  letter-spacing: -0.36px;
  white-space: nowrap;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  padding-block: 32px;
}

main.content {
  margin-bottom: 100px;
}

.footer {
  max-width: 640px;
  font-weight: 500;
}

.footer-feedback-content {
  padding-top: 76px;
  margin-bottom: 30px;
}

.footer-feedback-list {
  display: flex;
  justify-content: center;
  column-gap: 36px;
  text-transform: uppercase;
  font-size: clamp(14px, 1.04vw, 20px);
  border-bottom: var(--border);
  padding-bottom: 30px;
}

.footer-socials {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}

.footer-socials-list {
  display: flex;
  align-items: center;
  column-gap: 40px;
}

.footer-socials-link {
  display: flex;
}
.footer-socials-link:hover {
  color: var(--color-grey);
}

.footer-copyright {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  padding: 30px 0 46px;
  font-size: clamp(10px, 0.63vw, 12px);
  letter-spacing: 1.1px;
  color: var(--color-grey);
}

.footer-socials-feedback {
 text-decoration: underline;
}

@media screen and (max-width: 1024px) {
  .button-filter {
    font-size: 10px;
  }

  .header-wrap {
    column-gap: 36px;
  }

  .jenny-art {
    margin-bottom: 50px;
  }

  .jenny-slate-title {
    max-width: 700px;
  }

  .latest-posts {
    row-gap: 14px;
  }

  .latest-posts-content {
    column-gap: 20px;
    padding-bottom: 40px;
  }

  .latest-posts-list {
    row-gap: 40px;
  }

  .latest-posts-list-short {
    row-gap: 32px;
  }

  .latest-posts-date {
    column-gap: 4px;
    margin-bottom: 2px;
  }

  .popular-list {
    height: auto;
  }

  .popular {
    justify-content: space-between;
    column-gap: 20px;
    margin-bottom: 100px;
  }

  .popular-content, .popular-right-wrapper {
    row-gap: 20px;
  }

  .popular-posts-list {
    flex-direction: column;
    row-gap: 20px
  }

  .popular-posts-link-img {
    margin-bottom: 12px;
  }

  .jenny-slate {
    margin-bottom: 100px;
  }

  .jenny-date {
    padding-top: 20px;
  }

  .jenny-slate-content {
    min-height: 390px;
  }

  .jenny-slate-title {
    margin-inline: auto;
    --sectionTitlePaddingBottom: 4px;
  }

  .jenny-slate-description {
    margin-inline: auto;
    text-align: center;
    padding-bottom: 20px;
  }

  .hot-stuff-title-wrap {
    margin-bottom: 16px;
  }

  .hot-stuff-posts-list {
    column-gap: 30px;
    margin-bottom: 62px;
  }

  .hot-stuff-posts-img {
    margin-bottom: 16px;
  }

  .hot-staff-button-tag {
    margin-bottom: 10px;
  }

  .title-wide {
    padding-block: 24px;
  }

  main.content {
    margin-bottom: 60px;
  }

  .footer-feedback-content {
    padding-top: 38px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 15px 15px 0;
  }

  .header-wrap {
    flex-wrap: wrap;
  }

  .header-logo {
    order: -2;
  }

  .header-info {
    order: -1;
  }

  .header-menu {
    width: 100%;
  }

  .header-menu-list {
    justify-content: space-around;
  }

  .header-menu-link {
    height: 50px;
  }

  .header-menu-link.is-current::after {
    bottom: 15px;
  }

  .jenny-art-body {
    flex-direction: column;
    padding-bottom: 20px;
  }

  .jenny-art-body,
  .jenny-art-info,
  .jenny-art-inner {
    row-gap: 20px;
  }

  .jenny-art-img-container {
    width: 63%;
    margin-inline: auto;
  }

  .latest-posts {
    margin-bottom: 56px;
  }

  .latest-posts-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .latest-posts-list {
    max-width: 402px;
    margin: auto;
  }

  .latest-posts-content, .latest-posts-list, .latest-posts-list-short {
    row-gap: 16px;
  }

  .latest-posts-link-title, .popular-posts-link-img {
    margin-bottom: 10px;
  }

  .popular {
    margin-bottom: 70px;
  }

  .popular-content, .popular-right-wrapper {
    row-gap: 10px;
  }

  .jenny-slate {
    margin-bottom: 72px;
  }

  .jenny-slate-content {
    min-height: 290px;
  }

  .jenny-slate-title {
    --sectionTitlePaddingBottom: 0;
  }

  .hot-stuff-posts-list {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 32px;
  }

  .hot-stuff-posts-img {
    margin-bottom: 10px;
  }

  .hot-staff-button-tag {
    margin-bottom: 6px;
  }

  .title-wide {
    padding-block: 16px;
  }

  .footer {
    max-width: 490px;
  }

  .footer-feedback-content {
    padding-top: 10px;
    margin-bottom: 20px;
  }

  .footer-feedback-list {
    column-gap: 26px;
    padding-bottom: 14px;
  }

  .footer-socials {
    margin-bottom: 14px;
  }

  .footer-socials-list {
    column-gap: 30px;
  }

  .footer-copyright {
    padding: 20px 0 36px;
  }

  main.content {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 576px) {
  .header {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .header-menu-list {
    column-gap: 10px;
    font-size: 14px;
  }

  .header-menu-link {
    height: 35px;
  }

  .header-menu-link.is-current::after {
    bottom: 8px;
  }

  .jenny-art {
    margin-bottom: 20px;
  }

  .jenny-art-body {
    padding-bottom: 10px;
  }

  .jenny-art-body, .jenny-art-inner {
    row-gap: 10px;
  }

  .jenny-art-info {
    row-gap: 20px;
  }

  .jenny-art-header {
    column-gap: 10px;
  }

  .jenny-art-date {
    column-gap: 4px;
  }

  .latest-posts {
    row-gap: 10px;
    margin-bottom: 28px;
  }

  .latest-posts-category {
    flex-wrap: wrap;
    row-gap: 6px;
    justify-content: space-around;
  }

  .latest-posts-category {
    column-gap: 4px;
  }

  .latest-posts-list, .latest-posts-list-short {
    max-width: 300px;
  }

  .popular {
    margin-bottom: 40px;
  }

  .hot-stuff-posts-list {
    flex-direction: column;
    row-gap: 20px;
  }

  .jenny-slate {
    margin-bottom: 32px;
  }

  .jenny-slate-inner {
    row-gap: 4px;
  }

  .jenny-date {
    margin-bottom: 4px;
  }

  .hot-stuff-posts-list {
    margin-bottom: 30px;
  }

  .title-wide {
    padding-block: 6px;
  }

  .footer {
    max-width: 390px;
  }

  .footer-feedback-list {
    column-gap: 8px;
    padding-bottom: 4px;
  }

  .footer-socials-list {
    column-gap: 20px;
  }

  .footer-copyright {
    padding: 10px 0 26px;
  }
}