@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-dark: #000000;
  --color-light: #FFFFFF;
  --color-grey: #808080;
  --border-radius: 55px;
  --border: 1px solid var(--color-dark);
  --font-family-base: "Inter", sans-serif;
  --container-width: 1732px;
  --container-padding-x: 15px;
  --transition-duration: 0.2s;
}

body {
  font-family: var(--font-family-base);
  font-size: 22px;
  line-height: 1.36;
  color: var(--color-dark);
  background-color: var(--color-light);
}

.container {
  max-width: calc(var(--container-width) + (var(--container-padding-x)) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.button {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  padding: 1px 6px;
  background-color: var(--color-light);
  border: var(--border);
  border-radius: 55px;
}

.button:hover {
  background-color: var(--color-grey);
  color: var(--color-light);
  border: 1px solid var(--color-grey);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  text-transform: uppercase;
}

a {
  color: var(--color-dark);
  text-decoration: none;
}

a,
body,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

p:not([class]):not(:last-child) {
  margin-bottom: 24px;
}

.header {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 30px;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 40px;
  border-bottom: var(--border);
}

.header-logo {
  display: flex;
  align-items: center;
  column-gap: 8px;
  text-transform: uppercase;
}

.header-logo::before {
  content: "";
  width: 25px;
  height: 28px;
  background: currentColor;
  clip-path: polygon(0 28%, 50% 0, 100% 28%, 100% 72%, 50% 100%, 0 72%);
}

.header-menu-list {
  display: flex;
  column-gap: 35px;
  font-size: 16px;
}

.header-menu-link {
  --headerMenuListItemColor: var(--color-dark);
  position: relative;
  display: flex;
  align-items: center;
  height: 68px;
  text-transform: uppercase;
  letter-spacing: -0.3px;
  color: var(--headerMenuListItemColor);
}

.header-menu-link:hover {
  --headerMenuListItemColor: var(--color-grey);
}

.header-menu-link.is-current::after {
  content: "";
  position: absolute;
  bottom: 22px;
  height: 1px;
  width: 100%;
  background-color: var(--headerMenuListItemColor);
}

.header-menu-link.is-current:hover::after {
  --headerMenuListItemColor: var(--color-grey);
}

.header-info {
  display: flex;
  align-items: center;
  column-gap: 8px;
  text-transform: uppercase;
}

.header-info::after {
  content: "";
  width: 26px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--color-dark);
}

.jenny-art {
  margin-bottom: 100px;
}

.jenny-art-body {
  display: flex;
  justify-content: space-between;
  column-gap: 100px;
  padding-bottom: 38px;
  border-bottom: var(--border);
}

.jenny-art-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.jenny-art-inner {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  font-weight: 500;
}

.jenny-art-header {
  display: flex;
  align-items: center;
  column-gap: 8px;
  text-transform: uppercase;
  font-size: 12px;
}

.jenny-art-actions {
  display: flex;
  column-gap: 8px;
}

.jenny-art-title {
  max-width: 634px;
  padding-bottom: 18px;
  border-bottom: var(--border);
  line-height: 1.1;
  font-size: clamp(24px, 4.01vw, 77px);
}

.jenny-art-description {
  font-size: clamp(12px, 1.14vw, 22px);
  max-width: 480px;
}

@media screen and (max-width: 1024px) {
  .header-wrap {
    column-gap: 36px;
  }

  .jenny-art {
    margin-bottom: 50px;
  }

  .jenny-art-title {
    max-width: 700px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 15px 15px 0;
  }

  .header-wrap {
    flex-wrap: wrap;
  }

  .header-logo {
    order: -2;
  }

  .header-info {
    order: -1;
  }

  .header-menu {
    width: 100%;
  }

  .header-menu-list {
    justify-content: space-around;
  }

  .header-menu-link {
    height: 50px;
  }

  .header-menu-link.is-current::after {
    bottom: 15px;
  }

  .jenny-art-body {
    flex-direction: column;
    padding-bottom: 20px;
  }

  .jenny-art-body,
  .jenny-art-info,
  .jenny-art-inner {
    row-gap: 20px;
  }

  .jenny-art-title {
    align-self: center;
    text-align: center;
    padding-bottom: 10px;
  }

  .jenny-art-description {
    text-align: center;
    margin-inline: auto;
  }

  .jenny-art-img-container {
    width: 50%;
    margin-inline: auto;
  }
}

@media screen and (max-width: 576px) {
  .header {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .header-menu-list {
    column-gap: 10px;
    font-size: 14px;
  }

  .header-menu-link {
    height: 35px;
  }

  .header-menu-link.is-current::after {
    bottom: 8px;
  }

  .jenny-art {
    margin-bottom: 20px;
  }

  .jenny-art-body {
    padding-bottom: 10px;
  }

  .jenny-art-body, .jenny-art-inner {
    row-gap: 10px;
  }

  .jenny-art-info {
    row-gap: 20px;
  }

  .jenny-art-header, .jenny-art-actions  {
    column-gap: 4px;
  }
}