@font-face {
  font-family: "Inter";
  src: url('./fonts/Inter-Regular.woff2') format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url('./fonts/Inter-Medium.woff2') format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-dark: #000000;
  --color-light: #FFFFFF;
  --color-grey: #808080;

  --border-radius: 55px;
  --border: 1px solid var(--color-dark);

  --font-family-base: 'Inter', sans-serif;
  --container-width: 1732px;

  --container-padding-x: 15px;

  --transition-duration: 0.2s;
}

body {
  font-family: var(--font-family-base);
  font-size: 22px;
  line-height: 1.36;
  color: var(--color-dark);
  background-color: var(--color-light);
}

.container {
  max-width: calc(var(--container-width) + (var(--container-padding-x)) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  text-transform: uppercase;
}

a {
  color: var(--color-dark);
  text-decoration: none;
}

a,
body,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

p:not([class]):not(:last-child) {
  margin-bottom: 24px;
}

.header {
  padding-inline: 34px;
  font-weight: 500;
  font-size: 20px;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 40px;
  border-bottom: var(--border);
}

.header-logo {
  display: flex;
  align-items: center;
  column-gap: 8px;
  text-transform: uppercase;
}

.header-logo::before {
  content: '';
  width: 25px;
  height: 28px;
  background: currentColor;
  clip-path: polygon(0 28%, 50% 0, 100% 28%, 100% 72%, 50% 100%, 0 72%);
}

.header-menu-list {
  display: flex;
  column-gap: 35px;
  font-size: 16px;
}

.header-menu-link {
  --headerMenuListItemColor: var(--color-dark);

  position: relative;
  display: flex;
  align-items: center;
  height: 68px;
  text-transform: uppercase;
  letter-spacing: -0.3px;
  color: var(--headerMenuListItemColor);
}

.header-menu-link:hover {
  --headerMenuListItemColor: var(--color-grey);
}

.header-menu-link.is-current::after {
  content: '';
  position: absolute;
  bottom: 22px;
  height: 1px;
  width: 100%;
  background-color: var(--headerMenuListItemColor);
}

.header-menu-link.is-current:hover::after {
  --headerMenuListItemColor: var(--color-grey);
}

.header-info {
  display: flex;
  align-items: center;
  column-gap: 8px;
  text-transform: uppercase;
}

.header-info::after {
  content: '';
  width: 26px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--color-dark);
}
